{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello there, I'm Yamuna—an engineer trying to crack the code for a balanced life!
          Each day is a rollercoaster of projects and attempts at healthy living.
          When my kitchen experiments turn into sitcom-level disasters, I dont sweat it. .
         .
        </p>
        <p>
          I march back into the culinary
          battlefield, armed with determination and a dash of "let's give this another shot".
          In my world, failed recipes are just plot twists in the saga of my pursuit for
          a healthier lifestyle—a journey sprinkled with laughter and a pinch of improvisation!
        </p>
        <p>

          After all, if Joey could land a role as Dr. Drake Ramoray,
          I can definitely act like I know what I'm doing in the kitchen!
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
